In [6]:
import mysql.connector

# -----------------------------------------------------------------
host="localhost"
user="root"
database="pr_mmbuzz_2022_06" 
mydb = mysql.connector.connect( host=host, user=user, password="", database=database )
# -----------------------------------------------------------------
query1 = ' select ' 
query1 += ' bet_id, bet '  
query1 += ' from bets_old '   
query1 += ' where category is null '    
query1 += ' group by bet_id,bet '    
# -----------------------------------------------------------------
mycursor = mydb.cursor() 
mycursor.execute(query1)
myresult1 = mycursor.fetchall()
# -----------------------------------------------------------------
len_myresult1 = len(myresult1) 
# -----------------------------------------------------------------
for x in myresult1: 
    bet_id = str(x[0])
    bet = x[1]
    print(bet_id + ". " + bet) 
# -----------------------------------------------------------------
# -----------------------------------------------------------------
# -----------------------------------------------------------------
# -----------------------------------------------------------------
# -----------------------------------------------------------------

14. Team To Score First
15. Team To Score Last
16. Total - Home
17. Total - Away
56. Corners Asian Handicap
57. Home Corners Over/Under
58. Away Corners Over/Under
75. Last Corner
76. First Corner
80. Cards Over/Under
81. Cards Asian Handicap
82. Home Team Total Cards
83. Away Team Total Cards
91. Total Goals (3 way)
97. First Goal Method
99. To Score A Penalty
100. To Miss A Penalty

In [1]:
# -----------------------------------------------------------------
end_col = "end_corners_asian_handicap_away_plus_65"
print(end_col)
# -----------------------------------------------------------------

end_corners_asian_handicap_away_plus_65

In [3]:
import mysql.connector

# ALTER TABLE `football_fixtures` ADD `aaa` DECIMAL(5,3) NULL DEFAULT NULL AFTER `end_exact_score`; 

# -----------------------------------------------------------------
host="localhost"
user="root"
database="pr_mmbuzz_2022_06" 
mydb = mysql.connector.connect( host=host, user=user, password="", database=database )
# -----------------------------------------------------------------
query1 = ' select ' 
query1 += ' * '  
query1 += ' from bets_old '   
query1 += ' where  bet_id = 45 '    
query1 += ' and  total > 17 '    
query1 += ' order by total, id '    
# -----------------------------------------------------------------
mycursor = mydb.cursor() 
mycursor.execute(query1)
myresult1 = mycursor.fetchall()
# -----------------------------------------------------------------
len_myresult1 = len(myresult1) 
# -----------------------------------------------------------------
# for x in myresult1: 
#     columnx = x[5]
    
#     new_col = "pre_"+columnx
#     query = "ALTER TABLE `football_fixtures` ADD `"+new_col+"` DECIMAL(5,3) NULL DEFAULT NULL AFTER `"+end_col+"`;"
#     end_col = new_col
#     print(query) 
#     mycursor.execute(query)
#     mydb.commit()  
# # -----------------------------------------------------------------
# print("")
# -----------------------------------------------------------------
for x in myresult1: 
    columnx = x[5]
    
    new_col = "end_"+columnx
    query = "ALTER TABLE `football_fixtures` ADD `"+new_col+"` DECIMAL(5,3) NULL DEFAULT NULL AFTER `"+end_col+"`;"
    end_col = new_col
    print(query) 
    mycursor.execute(query)
    mydb.commit()  
# -----------------------------------------------------------------
# -----------------------------------------------------------------
# -----------------------------------------------------------------
# -----------------------------------------------------------------

ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_over_700` DECIMAL(5,3) NULL DEFAULT NULL AFTER `end_corners_asian_handicap_away_plus_65`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_under_700` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_over_700`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_over_725` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_under_700`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_under_725` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_over_725`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_over_750` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_under_725`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_under_750` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_over_750`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_over_775` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_under_750`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_under_775` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_over_775`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_over_800` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_under_775`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_under_800` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_over_800`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_over_825` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_under_800`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_under_825` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_over_825`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_over_850` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_under_825`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_under_850` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_over_850`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_over_875` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_under_850`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_under_875` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_over_875`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_over_900` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_under_875`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_under_900` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_over_900`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_over_925` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_under_900`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_under_925` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_over_925`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_over_950` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_under_925`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_under_950` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_over_950`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_over_975` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_under_950`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_under_975` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_over_975`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_over_1000` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_under_975`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_under_1000` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_over_1000`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_over_1025` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_under_1000`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_under_1025` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_over_1025`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_over_1050` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_under_1025`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_under_1050` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_over_1050`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_over_1075` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_under_1050`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_under_1075` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_over_1075`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_over_1100` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_under_1075`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_under_1100` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_over_1100`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_over_1125` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_under_1100`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_under_1125` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_over_1125`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_over_1150` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_under_1125`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_under_1150` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_over_1150`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_over_1175` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_under_1150`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_under_1175` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_over_1175`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_over_1200` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_under_1175`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_under_1200` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_over_1200`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_over_1225` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_under_1200`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_under_1225` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_over_1225`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_over_1250` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_under_1225`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_under_1250` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_over_1250`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_over_1275` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_under_1250`;
ALTER TABLE `football_fixtures` ADD `pre_corners_over_under_under_1275` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_over_1275`;

ALTER TABLE `football_fixtures` ADD `end_corners_over_under_over_700` DECIMAL(5,3) NULL DEFAULT NULL AFTER `pre_corners_over_under_under_1275`;
ALTER TABLE `football_fixtures` ADD `end_corners_over_under_under_700` DECIMAL(5,3) NULL DEFAULT NULL AFTER `end_corners_over_under_over_700`;
ALTER TABLE `football_fixtures` ADD `end_corners_over_under_over_725` DECIMAL(5,3) NULL DEFAULT NULL AFTER `end_corners_over_under_under_700`;
ALTER TABLE `football_fixtures` ADD `end_corners_over_under_under_725` DECIMAL(5,3) NULL DEFAULT NULL AFTER `end_corners_over_under_over_725`;
ALTER TABLE `football_fixtures` ADD `end_corners_over_under_over_750` DECIMAL(5,3) NULL DEFAULT NULL AFTER `end_corners_over_under_under_725`;
ALTER TABLE `football_fixtures` ADD `end_corners_over_under_under_750` DECIMAL(5,3) NULL DEFAULT NULL AFTER `end_corners_over_under_over_750`;
ALTER TABLE `football_fixtures` ADD `end_corners_over_under_over_775` DECIMAL(5,3) NULL DEFAULT NULL AFTER `end_corners_over_under_under_750`;
ALTER TABLE `football_fixtures` ADD `end_corners_over_under_under_775` DECIMAL(5,3) NULL DEFAULT NULL AFTER `end_corners_over_under_over_775`;
ALTER TABLE `football_fixtures` ADD `end_corners_over_under_over_800` DECIMAL(5,3) NULL DEFAULT NULL AFTER `end_corners_over_under_under_775`;

ALTER TABLE `football_fixtures` ADD `end_corners_over_under_under_800` DECIMAL(5,3) NULL DEFAULT NULL AFTER `end_corners_over_under_over_800`;
ALTER TABLE `football_fixtures` ADD `end_corners_over_under_over_825` DECIMAL(5,3) NULL DEFAULT NULL AFTER `end_corners_over_under_under_800`;
ALTER TABLE `football_fixtures` ADD `end_corners_over_under_under_825` DECIMAL(5,3) NULL DEFAULT NULL AFTER `end_corners_over_under_over_825`;
ALTER TABLE `football_fixtures` ADD `end_corners_over_under_over_850` DECIMAL(5,3) NULL DEFAULT NULL AFTER `end_corners_over_under_under_825`;
ALTER TABLE `football_fixtures` ADD `end_corners_over_under_under_850` DECIMAL(5,3) NULL DEFAULT NULL AFTER `end_corners_over_under_over_850`;
ALTER TABLE `football_fixtures` ADD `end_corners_over_under_over_875` DECIMAL(5,3) NULL DEFAULT NULL AFTER `end_corners_over_under_under_850`;
ALTER TABLE `football_fixtures` ADD `end_corners_over_under_under_875` DECIMAL(5,3) NULL DEFAULT NULL AFTER `end_corners_over_under_over_875`;

DatabaseError: 1117 (HY000): Table definition is too large